@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


body {
    margin: 0;
    height: 100%;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding-right: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 2rem;
    color: #6aaca4;
}

.hero {
    height: 40rem;
    background-image: url(assets/slide1.png);
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    width: 25rem;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 0.8rem;
}

#title-one {
    position: absolute;
    visibility: visible;
    animation-name: rotate;
    animation-duration: 2s;
}

#title-two {
    position: absolute;
    visibility: visible;
    animation-name: rotate;
    animation-duration: 2s;

}

#title-three {
    position: absolute;
    visibility: visible;
    animation-name: rotate;
    animation-duration: 2s;
}

.hero-text {
    z-index: 100;
    position: absolute;
    margin-top: 14rem;
}

.title-wrapper {
    border-top: 0.1rem solid #bbb;
    border-bottom: 0.1rem solid #bbb;
    width: 12rem;
    height: 4rem;
    margin-top: 2rem;
}

.social {
    margin-top: 1rem;
}

.social a {
    color: #888;
    font-size: 1.7rem;
    padding-right: 1rem;
}

.social a:hover {
    color: black;
}

img.portrait {
    border-radius: 50%;
}

hr.divider {
    width: 5rem;
    border-top: 0.3rem solid #6aaca4;

}


@keyframes rotate {
    0% {
        transform: rotateX(-180deg);
        opacity: 0;
    }
   
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}