@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding-right: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.hero {
    height: 50rem;
    background-image: url(assets/bg1.png);
    background-position: center;
    background-size: cover;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    width: 25rem;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 0.8rem;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin-top: 0.8rem;
}

a {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.7rem;
    color: #6aaca4;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}

p.skills-label {
    font-weight: 400;
    margin-top: 1.5rem;
    font-size: 0.8rem;
}

/* Hero section start */
.hero-text {
    z-index: 100;
    margin-top: 14rem;
}

#title-one, #title-two, #title-three {
    position: absolute;
    width: 15rem;
    visibility: visible;
}

.title-wrapper {
    border-top: 0.1rem solid #bbb;
    border-bottom: 0.1rem solid #bbb;
    width: 8rem;
    height: 4rem;
    margin-top: 2rem;
}

.social {
    margin-top: 1rem;
}

.social a {
    color: #888;
    font-size: 1.7rem;
    padding-right: 1rem;
}

.social a:hover {
    color: black;
}
/* Hero section end */

img.portrait {
    border-radius: 50%;
    margin-top: 2rem;
}

hr.divider {
    width: 5rem;
    border-top: 0.3rem solid #6aaca4;
}

.skills {
    margin-top: 3rem;
}

.skills-progress {
    margin-top: -0.4rem;
    width: 100%;
    height: 0.4rem;
    background: #eee;
    border-radius: 0.5rem;
    position: relative;
}

.skills-progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #6aaca4;
    border-radius: 0.5rem;
    transition: all 1s;
}

.skills-progress span::after {
    content: attr(data-value);
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 0.5rem;
    color: #777;
}

.background-grey {
    background-color: #efefef88;
    padding-bottom: 5rem;
}

.tag {
    background-color: #99adab66;
    padding: 0.8rem;
    border-radius: 5rem;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
}

button.button-green {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    background-color: #6aaca4;
    color: white;
    border: none;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    border: 0.1rem solid #6aaca4;
}

button.button-green:hover {
    background-color: white;
    color:  #6aaca4;
    border: 0.1rem solid #6aaca4;
}

p.portfolio-tag {
    margin-top: -0.2rem;
    font-weight: 400;
}

.img-overlay {
    position: absolute;
    top: -0.7rem;
    left: 0.9rem;
    right: 0.9rem;
    bottom: 1.5rem;
    align-items: center;
    background: rgba(255,255,255,0.8);
    color: #35424C;
    opacity: 0;
    transition: all .5s;
    z-index: 10;
    transform: translateY(10px);    
}

.portfolio-info {
    width: 100%;
    display: none;
    animation-name: fadeInSlide;
    animation-duration: 2s;
}

#portfolio-items {
    animation-name: fadeIn;
    animation-duration: 2s;
}

#portfolio {
    min-height: 65rem;
}

.vertical-align {
    display: flex;
    align-items: center !important;
    justify-content: center;
    flex-direction: column;  
}

.fa-search-plus {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.5rem;
}

.img-fluid {
    margin-bottom: 1rem;
}

.fa-mobile-alt, .fa-map-marked-alt, .fa-envelope {
    font-size: 3rem;
    color: #6aaca4;
    margin-bottom: 1rem;
}

.contact:nth-child(2) {
    border-right: 0.1rem solid #ccc;
    border-left: 0.1rem solid #ccc;
}

.bottom-row {
    background-color: black;
    color: white;
    padding: 1.5rem 0;
}

.social-bottom a {
    color: #fff;
    font-size: 1.7rem;
    padding-right: 1rem;
}

.social-bottom a:hover {
    color: #6aaca4;
}